/** Amor-Azul
*/




/*----------primary links---located in header----------*/

#menu ul
{
	float:right;
}

#menu li 
{
	display:inline-block;
	float:left;
}

#menu li a{
	display:inline-block;
	float:left;
	height:36px;
  position:relative;
}


/*----------sideBars----------*/

#leftSidebar{margin-left:.7em;}

#rightSidebar .block{
	margin-left:0px;
}




/************************ KAV Menus  *****************************/


